*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
text-align: center;
}

main{
    color:#DFF6FF
}

.height{
    height: 100vh;
}

.intercambio {
    color:#DFF6FF;
    background-color: #47B5FF;
}
.intercambio h3{
    color: #06283D;
}

.footerColor{
    background-color: #47B5FF;
}