*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: #47B5FF;
font-weight: bold;
text-align: center;
}

main{
    margin-top: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color:#DFF6FF
}

.img-portada {
    width: 90vh;
    height: auto;
    border-radius: 10px;
}

.intercambio {
    color:#DFF6FF;
}
.intercambio h3{
    color: #06283D;
}

.cambio {
    color:#DFF6FF;
    font-size: 30px;
    padding: 0 10px;
}